@import "tailwindcss";


body {
  background-color: white;
}

#root {
  text-align: center;
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

main {
  background-color: white;
}

