@import "tailwindcss";


body {
  background-color: white;
}

#root {
  /* text-align: center; */
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

main {
  background-color: white;
}


/* p, h1, h2, h3, h4, h5, h6, ul, span {
  text-align: left;
} */

.prose p {
  text-align: left;
}
